### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
vcs.xml

### SPRING BOOT ###
application-local.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### android studio ###
.gradle
local.properties
.DS_Store
build/
captures/
.externalNativeBuild
*.apk

### java ###
HELP.md
target/
*.class
*.jar
*.war
!/gradle/wrapper/gradle-wrapper.jar
!/.mvn/wrapper/maven-wrapper.jar

### VS Code ###
.vscode/

### js ###
node_modules/
dist/
dist_electron/
.pnp
.pnp.js
coverage

.env.local
.env.*.local

*.log
*.gz
*.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
log/

### visual studio ###
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]ackages/

### gradle
gradlew
gradlew.bat
gradle/
settings.gradle
